@font-face {
  font-family: "ITC American Typewriter";
  src: url("//db.onlinewebfonts.com/t/bf9940413066bf65037e293ebc4c068e.eot");
  src: url("//db.onlinewebfonts.com/t/bf9940413066bf65037e293ebc4c068e.eot?#iefix")
  format("embedded-opentype"), url("//db.onlinewebfonts.com/t/bf9940413066bf65037e293ebc4c068e.woff2")
  format("woff2"), url("//db.onlinewebfonts.com/t/bf9940413066bf65037e293ebc4c068e.woff")
  format("woff"), url("//db.onlinewebfonts.com/t/bf9940413066bf65037e293ebc4c068e.ttf")
  format("truetype"),
  url("//db.onlinewebfonts.com/t/bf9940413066bf65037e293ebc4c068e.svg#ITC American Typewriter")
  format("svg");
}


.memory-card img {
  height: 175px;
  width: 175px;
  margin: 2px;
}

.memory-card {
  height: 225px;
  width: 180px;
  border: black;
  border-style: solid;
  background-color: rgb(172, 49, 172);
  color: white;
  font-family: ITC American Typewriter;
  /* background-color: #fff;
  box-shadow: 120px 80px 40px 20px #0ff; */
}

.memory-card:hover, .memory-card:active {
  box-shadow: inset 0 0 25px #fff;
}

.memory-card-grid {
  width: 100%;
  display: grid;
  padding: 5px 10px;
  margin-top: 15px;
  grid-template-columns: repeat(auto-fit,minmax(130px,179px));
  justify-content: space-around;
  grid-column-gap: 2px;
  column-gap: 2px;
  grid-row-gap: 20px;
  row-gap: 20px;
}

* {
  font-family: "ITC American Typewriter"
}

@import url(//db.onlinewebfonts.com/c/bf9940413066bf65037e293ebc4c068e?family=ITC+American+Typewriter);
